.footer {
    padding: 20px 83px;
    background-color: #EEF4F6;
    .container {
        display: flex;
    }
}

.footer_copyright {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
    color: rgba(23, 66, 88, 0.80);
    margin: 0 auto;
}