.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 320px;
}

.form input {
    border: 1px solid grey;
    border-radius: 5px;
    margin: 5px 0;
    padding: 6px 20px;
}

