.articles-page {
    h3 {
        text-align: center;
        font-size: 48px;
        font-weight: 800;
        line-height: 50px; 
        letter-spacing: -0.4px;
        color: #0A335C;
        margin-bottom: 20px;
    }

    li {
        list-style: none;
        margin-bottom: 20px;

        &:last-child {
            margin-bottom: 0;
        }

        a {
            font-size: 24px;
            font-weight: 800;
            line-height: 30px;
            color: #0A335C;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}
