.nav {
    margin: 0 auto;

    ul {
        display: flex;
        align-items: center;

        li {
            list-style: none;
            padding: 10px 0;

            a {
                display: block;
                padding: 10px 15px;
                font-size: 20px;
                font-style: normal;
                font-weight: 700;
                line-height: 30px;
                color: #0A335C;
                border-radius: 10px;
                background-color: transparent;
                transition: 0.3s;
                
                &.active {
                    background-color: #EEF4F6;
                }

                &:hover {
                    background-color: #EEF4F6;
                    transition: 0.3s;
                }
            }
        }
    }
}