:root {
  --border-color: #767676;
  --title-color: #343434;
  --text-color: #565656;
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background: linear-gradient(to right, #F5F5F5, #DFDFDF 50%, #F5F5F5);
  display: flex;
  flex-direction: column;
  height: 100vh;
}

main {
  flex: 1;
  padding: 50px 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  max-width: 1240px;
  padding: 0 20px;
  margin: 0 auto;
}

.button {
  display: inline-block;
  border: none;
  background-color: #3d3d3d;
  color: #fff;
  padding: 10px 26px;
  margin: 5px 0;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    opacity: 0.5;
  }
}
