.main-page {
    text-align: center;

    h1 {
        font-size: 64px;
        font-style: normal;
        font-weight: 800;
        line-height: 64px;
        letter-spacing: -0.6px;
        color: #0A335C;
        margin-bottom: 20px;
    }

    h3 {
      font-size: 48px;
      font-style: normal;
      font-weight: 800;
      line-height: 50px; 
      letter-spacing: -0.4px;
      color: #0A335C;
      margin-bottom: 20px;
    }

    p {
      font-size: 24px;
      font-style: normal;
      font-weight: 600;
      line-height: 32px;
      color: rgba(23, 66, 88, 0.80);
    }
}
