.profile-card_data {
    display: flex;
    align-items: center;
    img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        object-fit: contain;
        object-position: center;
        margin-right: 20px;
    }

    .profile-card_data-name {
        font-size: 64px;
        font-weight: 800;
        line-height: 64px;
        letter-spacing: -0.6px;
        color: #0A335C;
    }
}

.profile-card_wrapper {
    margin-bottom: 40px;
}

.profile-card_last-score {
    h3 {
        font-size: 36px;
        font-weight: 800;
        line-height: 42px; 
        letter-spacing: -0.4px;
        color: #0A335C;
        margin-bottom: 20px;
    }

    
}

