.trainer_text {
    position: relative;
    padding: 30px 0 30px 20px;
    margin-bottom: 20px;
    min-height: 180px;
}

.trainer_input {
    opacity: 0;
    position: absolute;
    pointer-events: none;
}

.trainer_text-input {
    font-size: 120px;
    font-weight: 700;
    line-height: 120px;
    color: #565656;
    white-space: pre;
    display: inline;
}

.trainer_text-output {
    font-size: 120px;
    font-weight: 700;
    line-height: 120px;
    color: #565656;
    position: absolute;
    top: 30px;
    right: 100%;
    opacity: 0.2;
    white-space: pre;
    display: inline;
}

.trainer_text-cursor {
    position: absolute;
    top: 30px;
    left: 5px;
    width: 10px;
    height: 120px;
    background-color: #3d3d3d;
    animation: blink 1s infinite ease;
}

@keyframes blink {
    50% {
        background-color: transparent;
    }
}

.trainer_keyboard {
    padding: 2px 5px 5px;
    background-color: #FFF;
    border-radius: 10px;
    width: 645px;
    margin: 0 auto;
    pointer-events: none;
}

.trainer_keyboard-row {
    display: flex;
}

.trainer_keyboard-key {
    padding-top: 3px;
    width: 40px;
    height: 40px;
    margin-right: 5px;
    position: relative;

    &::after {
        content: '';
        display: block;
        position: absolute;
        top: 2px;
        bottom: 0;
        left: 0;
        right: 0;
        border-radius: 10px;
        border: 2px solid #3d3d3d;
        border-bottom: 4px solid #3d3d3d;
        opacity: 0;
        transition: 0.1s;
    }

    &:last-child {
        margin-right: 0;
    }
}

.trainer_key-block {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 9px;
    border-radius: 10px;
    background-color: #DBE2E5;

    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    color: #0A335C;
}

.trainer_keyboard-key__backspace {
    width: 60px;
}

.trainer_keyboard-key__tab {
    width: 60px;
}

.trainer_keyboard-key__caps {
    width: 72.5px;
}

.trainer_keyboard-key__enter {
    width: 72.5px;
}

.trainer_keyboard-key__shift {
    width: 95px;
}

.trainer_keyboard-row .trainer_keyboard-key__space {
    margin: 0 auto;
    width: 220px;
}

.trainer_keyboard-key__active {
    &::after {
        opacity: 1;
        transition: 0.1s;
    }
}

.trainer_keyboard-key__error {
    .trainer_key-block {
        animation: blinkError 1s infinite ease;
    }
}


@keyframes blinkError {
    50% {
        background-color: #f19999;
    }
}