.start-board {
    display: flex;
    flex-direction: column;
    align-items: center;

    a {
        margin-top: 20px;
    }

    ul {
        display: flex;
        margin-top: 10px;
        margin-bottom: 20px;

        li {
            list-style-type: none;

            button {
                padding: 10px 15px;
                font-size: 20px;
                font-style: normal;
                font-weight: 700;
                line-height: 30px;
                color: #0A335C;
                border-radius: 10px;
                background-color: transparent;
                border-color: transparent;
                cursor: pointer;
                transition: 0.3s;

                &:hover {
                    background-color: #EEF4F6;
                    transition: 0.3s;
                }

                &.active {
                    background-color: #EEF4F6;
                }
            }
        }
    }
}

.start-board_title {
    font-size: 36px;
    font-weight: 800;
    line-height: 42px; 
    letter-spacing: -0.4px;
    color: #0A335C;
    margin-bottom: 20px;
}

.start-board_text {
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    color: #0A335C;
}