.profile-tabs_wrapper {
    margin-right: 90px;

    ul {
        width: 320px;
        padding: 10px;
    }
    li {
        list-style-type: none;
        
        button {
            text-align: left;
            border: none;
            width: 100%;
            display: block;
            font-size: 20px;
            font-weight: 500;
            line-height: 30px;
            color: #0A335C;
            border-radius: 10px;
            padding: 10px 15px;
            background-color: transparent;
            cursor: pointer;
            transition: 0.3s;

            &:hover {
                background-color: #EEF4F6;
                transition: 0.3s;
            }

            &.active {
                background-color: #EEF4F6;
                transition: 0.3s;
            }
        }
    }
}