.logo {
    text-transform: uppercase;
    color: #0A335C;
    font-weight: 800;
    font-size: 24px;
    opacity: 1;
    transition: 0.3s;

    &:hover {
        opacity: 0.5;
        transition: 0.3s;
    }
}