.profile {
    a {
        display: flex;
        align-items: center;

        img {
            border-radius: 50%;
            width: 30px;
            height: 30px;
            object-position: center;
        }
    }
}

.profile_name {
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    color: #0A335C;
    margin-right: 10px;
}

.profile_link {
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    color: #0A335C;
    padding: 10px 15px;
    border-radius: 10px;
    background-color: transparent;
    transition: 0.3s;

    &:hover {
        background-color: #EEF4F6;
        transition: 0.3s;
    }
}