.score-table {
    padding: 20px;
    border-radius: 20px;
    background-color: #EEF4F6;
}

.score-table_row {
    display: flex;
}

.score-table_item {
    flex: 1;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    color: #0A335C;
    padding-top: 15px;
}

.score-table_header {
    border-bottom: 1px solid #DFDFDF;
    .score-table_item {
        font-weight: 700;
        padding-top: 0;
    }
}