.trainer-timer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 0;
}

.trainer-timer_time {
    font-size: 32px;
    font-weight: 700;
    color: #0A335C;
    background-color: #EEF4F6;
    padding: 10px 15px;
    border-radius: 10px;
    width: 92px;
    text-align: center;
}

.trainer-timer_text {
    font-size: 24px;
    font-weight: 500;
    color: #0A335C;
    margin-left: 10px;
}