.finish-board {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.finish-board_title {
    font-size: 36px;
    font-weight: 800;
    line-height: 42px; 
    letter-spacing: -0.4px;
    color: #0A335C;
    margin-bottom: 20px;
}

.finish-board_text {
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    color: #0A335C;
}

.finish-board_score {
    padding: 10px 15px;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    color: #0A335C;
    border-radius: 10px;
    background-color: #EEF4F6;
    margin: 20px 0;
}